{% load static %}

<aside class="main-sidebar">
<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
  <!-- Sidebar user panel -->
  <div class="user-panel">
    <div class="pull-left image">
      <img src="{% static 'dist/img/user2-160x160.png'%}" class="img-circle" alt="User Image">
    </div>
    <div class="pull-left info">
      <p>Bean Chhoryi</p>
      <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
    </div>
  </div>
  <!-- search form -->
  <form action="{{ search_action }}" method="post" class="sidebar-form">
    <div class="input-group">
        {% csrf_token %}
        <input type="text" name="search_item" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
            <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
        </span>
    </div>
  </form>
  <!-- /.search form -->
  <!-- sidebar menu: : style can be found in sidebar.less -->
  <ul class="sidebar-menu">

    <li class="treeview">
      <a href="#">
        <i class="fa fa-edit"></i> <span>Forms</span>
        <i class="fa fa-angle-left pull-right"></i>
      </a>
      <ul class="treeview-menu">
        <li><a href="/student/index"><i class="fa fa-circle-o"></i> Student Management </a></li>
        <li><a href="/subject/index"><i class="fa fa-circle-o"></i> Subject Management </a></li>
        <li><a href="/teacher/index"><i class="fa fa-circle-o"></i> Teacher Management</a></li>
      </ul>
    </li>

  </ul>
</section>
<!-- /.sidebar -->
</aside>
